@import "../../App.scss";

.catalogBody {
  padding: 6rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include tablet {
    padding: 4rem 0;
    gap: 2rem;
  }

  @include mobile {
    padding: 4rem 0;
    gap: 2rem;
  }

  .catalogTitle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    @include tablet {
      padding: 0 2rem;
    }

    @include mobile {
      padding: 0 2rem;
    }

    h2 {
      font-size: 4rem;
      color: #9a670e;

      @include tablet {
        font-size: 3rem;
      }

      @include mobile {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
      font-style: normal;

      @media screen and (max-width: 900px) {
        font-size: 1rem;
        line-height: 1.3rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 0.9rem;
        line-height: 1.3rem;
      }
    }
  }

  .pictures {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 3rem 0;

    .singlePictures {
      width: fit-content;

      img {
        object-fit: contain;
        width: 20rem;
        height: 20rem;

        @include tablet {
          width: fit-content;
          height: 15rem;
          margin: 0 auto;
        }

        @include mobile {
          width: 10rem;
          height: 10rem;
          margin: 0 auto;
        }
      }
    }

    @include tablet {
      width: 100%;

      .singlePictures {
        width: fit-content;
      }

      .carousel-root {
        margin: 0 auto;
        width: 50%;
      }
    }

    @include mobile {
      padding: 3rem;
      gap: 1em;
      width: 100%;

      .singlePictures {
        width: fit-content;
        height: 15rem;
      }

      .carousel-root {
        margin: 0 auto;
        width: 80%;
      }

    }
  }

  .viewCatalog {
    display: flex;
    justify-content: end;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }

    @media screen and (max-width: 480px) {
      justify-content: center;
    }

    button {
      display: flex;
      width: fit-content;
      margin-right: 5rem;
      padding: 0.9rem 1.3rem;
      background-image: linear-gradient(to right, #888888 0%, #f5e14f 100%);
      color: #3d3d3d;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: normal;
      font-weight: 600;
      border: none;
      border-radius: 6.25rem;
      cursor: pointer;
      transition: background-image 0.3s ease-in;

      &:hover {
        transform: scale(1.1);
        background-image: linear-gradient(to right, #f5e14f 0%, #888888 100%);
        transition: background-image 0.3s ease-in;
      }

      @media screen and (max-width: 900px) {
        width: fit-content;
        font-size: 1.1rem;
        margin: auto;

        &:hover {
          transform: scale(1);
        }
      }

      @media screen and (max-width: 480px) {
        width: fit-content;
        font-size: 1rem;
        margin: auto;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
