@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets//fonts/helvetica-neu.ttf") format("ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets//fonts/LaBelleAurore.woff2") format("woff2");
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets//fonts/CoolveticaRg-Regular.woff2") format("woff2");
}
input,
textarea {
  font-family: "Helvetica Neue";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  color: #6d6d6d;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -1px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.aboutContainer {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 5rem 8rem 0 8rem;
  justify-content: space-between;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer {
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
  }
  .aboutContainer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer {
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
  }
  .aboutContainer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutContainer .leftImage {
  width: 50%;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer .leftImage {
    display: none;
  }
  .aboutContainer .leftImage html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer .leftImage #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer .leftImage {
    display: none;
  }
  .aboutContainer .leftImage html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutContainer .rightText {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 3rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer .rightText {
    width: 100%;
    gap: 1.5rem;
  }
  .aboutContainer .rightText html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer .rightText #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer .rightText {
    width: 100%;
    gap: 1rem;
  }
  .aboutContainer .rightText html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutContainer .rightText h1 {
  font-size: 4rem;
  color: #9b660d;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer .rightText h1 {
    font-size: 3rem;
  }
  .aboutContainer .rightText h1 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer .rightText h1 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer .rightText h1 {
    font-size: 2.5rem;
  }
  .aboutContainer .rightText h1 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutContainer .rightText .textAbout {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: #6d6d6d;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer .rightText .textAbout {
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
    text-wrap: balance;
  }
  .aboutContainer .rightText .textAbout html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer .rightText .textAbout #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer .rightText .textAbout {
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-wrap: balance;
  }
  .aboutContainer .rightText .textAbout html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutContainer .rightText .readMore {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.aboutContainer .rightText button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5rem;
  padding: 0.9rem 1.3rem;
  background-image: linear-gradient(to right, #888888 0%, #f5e14f 100%);
  color: #3d3d3d;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  border: none;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: background-image 0.1s ease;
}
.aboutContainer .rightText button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #f5e14f 0%, #888888 100%);
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutContainer .rightText button {
    font-size: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .aboutContainer .rightText button:hover {
    transform: scale(1);
  }
  .aboutContainer .rightText button html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutContainer .rightText button #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutContainer .rightText button {
    width: 65%;
    font-size: 1rem;
    margin: auto;
  }
  .aboutContainer .rightText button:hover {
    transform: scale(1);
  }
  .aboutContainer .rightText button html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}/*# sourceMappingURL=about.css.map */