@import "../../App.scss";

.mainBody {
  .main {
    height: 50rem;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(/images/hero-back2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 4rem;

    @include tablet {
      height: 33rem;
      gap: 3rem;
      padding: 0;
    }

    @include mobile {
      height: 25rem;
      gap: 3rem;
      padding: 0;
    }

    .mainContent {
      display: flex;
      color:#b0b0b0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include tablet {
      }

      @include mobile {
      }

      .text {
        h1 {
        color: #be9d24;
          line-height: 12rem;
          font-size: 12rem;
          letter-spacing: 1px;

          @include tablet {
            font-size: 6rem;
            line-height: 6rem;
          }

          @include mobile {
            font-size: 4rem;
            line-height: 4rem;
          }
        }

        .design {
          margin-left: 1em;

          @include mobile {
            margin-left: 0.5em;
          }
        }
        span {
          display: block;
          font-size: 3em;
          font-family: "Helvetica Neue";
          padding-left: 6em;
          color: #fdfce9;
          margin-top: 1rem;

          @include tablet {
            display: block;
            margin-top: 0.5rem;
            font-size: 2em;
            padding-left: 4em;
          }

          @include mobile {
            display: block;
            margin-top: 0.5rem;
            font-size: 1.3em;
            padding-left: 3em;
          }
        }
      }

      .rightMain {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
