@import "../../App.scss";

.footer {
  background-color: #3d3d3d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5rem 0 0 0;
  position: relative;
  bottom: 0;

  @include tablet {
    padding: 2rem 0 0 0;
    margin: auto;
  }

  @include mobile {
    padding: 2rem 0 0 0;
    margin: auto;
  }

  .firstFooter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 4rem 2rem 4rem;
    border-bottom: 1px solid #efefef;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      padding: 0 2rem 1rem 2rem;
    }

    @include mobile {
      justify-content: space-between;
      padding: 0 1rem 1rem 1rem;
      gap: 1.5rem;
    }

    .logoOriginal {
      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }
    .logoOriginal > img {
      border-radius: 50%;
      flex: 1;
    }

    .footerLinks {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 2rem;
      margin: auto;

      @include tablet {
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        gap: 0;
      }

      @include mobile {
        flex-basis: 100%;
        padding: 0 1rem;
        justify-content: space-between;
        width: fit-content;
        gap: 0;
      }

      ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        @include tablet {
          width: 100%;
          padding: 0 3rem;
          justify-content: center;
          align-items: center;
        }

        @include mobile {
          width: 50%;
          justify-content: space-around;
          padding-left: 1em;
        }

        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 500;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #dcdcdc;
          cursor: pointer;

          @include mobile {
            font-size: 0.95rem;
            cursor: none;
            justify-content: space-around;
          }

          &:hover {
            text-decoration: underline;
            text-decoration-color: #989898;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;

            @include mobile {
              text-decoration: none;
            }
          }
        }
      }

      .externalLinks {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        @include mobile {
          width: 50%;
          margin-left: -4rem;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 500;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #dcdcdc;
          cursor: pointer;

          @include mobile {
            font-size: 0.92rem;
            gap: 1rem;
            cursor: none;
          }

          &:hover {
            text-decoration: underline;
            text-decoration-color: #989898;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;

            @include mobile {
              text-decoration: none;
            }
          }
        }
      }
    }

    .socials {
      display: none;
      margin-top: 2rem;
      margin: auto;

      @include tablet {
        display: block;
        font-size: 1.5rem;
      }

      @include mobile {
        display: block;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        font-size: 2rem;
        color: #989898;
        padding: 1.5rem 0 0 0;
        @include mobile {
          gap: 1rem;
        }

        li {
          list-style-type: none;
        }

        .facebook,
        .instagram,
        .xTwitter,
        .linkedin {
          padding: 0.5rem;
          border-radius: 5px;
        }
      }
    }
  }

  .secondFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    @include tablet {
      padding: 0.7rem 0;
    }

    @include mobile {
      padding: 0.5rem 0;
    }

    .rights {
      color: #989898;
      font-size: 1rem;

      @include tablet {
        font-size: 0.9rem;
      }

      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
}
