@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets//fonts/helvetica-neu.ttf") format("ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets//fonts/LaBelleAurore.woff2") format("woff2");
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets//fonts/CoolveticaRg-Regular.woff2") format("woff2");
}
input,
textarea {
  font-family: "Helvetica Neue";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  color: #6d6d6d;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -1px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.aboutMajorBody {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody {
    padding: 0;
    background-repeat: repeat;
    background-position: center;
    gap: 2rem;
    background-size: contain;
  }
  .aboutMajorBody html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody {
    padding: 0;
    background-repeat: repeat;
    background-position: bottom;
    gap: 1rem;
    background-size: contain;
  }
  .aboutMajorBody html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .aboutText2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 10rem;
  justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .aboutText2 {
    padding: 0 4rem;
    gap: 2rem;
  }
  .aboutMajorBody .aboutText2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .aboutText2 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 {
    gap: 1rem;
    padding: 0 2rem;
  }
  .aboutMajorBody .aboutText2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .aboutText2 .aboutMajorText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst {
    flex-direction: column;
    gap: 2rem;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst {
    flex-direction: column;
    gap: 2rem;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .logoAbout {
    width: 70%;
    margin: auto;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .logoAbout html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .logoAbout #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .logoAbout {
    width: 50%;
    margin: auto;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .logoAbout html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .welcomeText h2 {
  font-size: 3rem;
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .welcomeText h2 {
    font-size: 1.3rem;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText .welcomeFirst .welcomeText h2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .aboutText2 .aboutMajorText .astonishAbout,
.aboutMajorBody .aboutText2 .aboutMajorText .values,
.aboutMajorBody .aboutText2 .aboutMajorText .philosophy,
.aboutMajorBody .aboutText2 .aboutMajorText .achievement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutMajorBody .aboutText2 .aboutMajorText div > h2 {
  font-size: 2rem;
  color: #c28d0c;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .aboutText2 .aboutMajorText div > h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div > h2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div > h2 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 .aboutMajorText div > h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div > h2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .aboutText2 .aboutMajorText div p {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .aboutText2 .aboutMajorText div p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-spacing: -1px;
    letter-spacing: 0.8px;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div p html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div p #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .aboutText2 .aboutMajorText div p {
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: -2px;
    letter-spacing: 0.7px;
  }
  .aboutMajorBody .aboutText2 .aboutMajorText div p html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .overallAstonish {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .overallAstonish {
    flex-direction: column;
    gap: 2rem;
  }
  .aboutMajorBody .overallAstonish html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .overallAstonish #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .overallAstonish {
    flex-direction: column;
    gap: 1rem;
    margin-top: 0;
  }
  .aboutMajorBody .overallAstonish html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .overallAstonish .storyValues {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aboutMajorBody .overallAstonish .philosophyAchievement {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.aboutMajorBody .theDesigner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner {
    margin-top: 1rem;
    gap: 2rem;
  }
  .aboutMajorBody .theDesigner html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner {
    margin-top: 0;
    gap: 0.5rem;
  }
  .aboutMajorBody .theDesigner html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .designerHead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.aboutMajorBody .theDesigner .designerHead .designerHeader {
  font-size: 3rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .designerHead .designerHeader {
    font-size: 2rem;
  }
  .aboutMajorBody .theDesigner .designerHead .designerHeader html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .designerHead .designerHeader #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .designerHead .designerHeader {
    font-size: 1.3rem;
  }
  .aboutMajorBody .theDesigner .designerHead .designerHeader html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 2rem;
  }
  .aboutMajorBody .theDesigner .lastPart html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding-top: 2rem;
  }
  .aboutMajorBody .theDesigner .lastPart html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .ceo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .ceo {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .ceo {
    gap: 0.5rem;
    flex-direction: column;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .ceo img {
  border-radius: 50%;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .ceo img {
    width: 28%;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo img html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo img #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .ceo img {
    width: 30%;
    margin: auto;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo img html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .ceo .position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #3d3d3d;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position {
    gap: 0.2rem;
    margin: auto;
    align-items: center;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position {
    gap: 0.5rem;
    margin: auto;
    align-items: center;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .ceo .position h4 {
  font-size: 1.3rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position h4 {
    font-size: 1.1rem;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position h4 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position h4 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position h4 {
    font-size: 1rem;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position h4 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position span {
    font-size: 1em;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position span html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position span #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .ceo .position span {
    font-size: 0.9rem;
  }
  .aboutMajorBody .theDesigner .lastPart .ceo .position span html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .contactMe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe {
    gap: 1em;
    align-items: start;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe {
    gap: 1em;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .contactMe p {
  font-size: 1.5rem;
  color: #3d3d3d;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe p {
    font-size: 1.3em;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe p html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe p #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe p {
    font-size: 1.1em;
    gap: 1em;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe p html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.aboutMajorBody .theDesigner .lastPart .contactMe button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.9rem 1.3rem;
  background-image: linear-gradient(to right, #888888 0%, #f5e14f 100%);
  color: #3d3d3d;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: background-image 0.1s ease;
}
.aboutMajorBody .theDesigner .lastPart .contactMe button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #f5e14f 0%, #888888 100%);
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe button {
    font-size: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0.8em;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe button:hover {
    transform: scale(1);
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe button html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe button #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .aboutMajorBody .theDesigner .lastPart .contactMe button {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1rem;
    margin: auto;
    padding: 0.7em;
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe button:hover {
    transform: scale(1);
  }
  .aboutMajorBody .theDesigner .lastPart .contactMe button html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}/*# sourceMappingURL=aboutmajor.css.map */